name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - version: "2.7"
            gemfile: Gemfile.legacy-rubies
          - version: "3.0"
            gemfile: Gemfile.legacy-rubies
          - version: "3.1"
            gemfile: Gemfile.legacy-rubies
          - version: "3.2"
            gemfile: Gemfile
          - version: "3.3"
            gemfile: Gemfile
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ matrix.ruby.gemfile }}
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Set up Ruby ${{ matrix.ruby.version }}
      uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
      with:
        ruby-version: ${{ matrix.ruby.version }}
        bundler-cache: true
    - name: Test on ${{ matrix.ruby.version }}
      run: |
        bundle exec rake
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Set up Ruby 3.3
      uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
      with:
        ruby-version: "3.3"
    - name: Build
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: Lint
      run: |
        bundle exec rubocop
